<div class="contInfo">
    <div id="about-img">
        <img src="../../../assets/img/yo.jpg" alt="yop">
    </div>
    <p id="title-about">CrisGC.about_me()</p>
    <div id="div-about">
        <p id="name">Cristian Gallegos</p>
        <p id="about">Desarrollador frontend, autodidacta</p>
    </div>
</div>

<span id="punto"></span>

<div class="first-fold">
    <p >
        Soy un desarrolador frontend, me gusta aprender de manera autodidacta,
        con cursos y libros, ¿objetivos? rutas y metas de desarrollos mayores, personales y profesional.<br /><br />
        Soy de México.
    </p><br />
    <p >
        ¿Tiempo libre? <br /><br />
    
    </p>
</div>

<div id="hobby">
    <!-- cafe -->
    <svg id="cafe" class="hobby-flex" viewbox="0 0 50 50" width="200" height="200">
        <defs>
            <mask id="maskCafe" x="0" y="0" width="100" height="49">
                <rect x=".1" y=".1" width="200" height="200" fill="#fff"/>
                <text x="77" text-anchor="middle" y="200" dy="0">C</text>
                <text x="93" text-anchor="middle" y="200" dy="0">A</text>
                <text x="109" text-anchor="middle" y="200" dy="0">F</text>
                <text x="125" text-anchor="middle" y="200" dy="0">E</text>
            </mask>
        </defs>
        <rect x="0.5" y="0.5" width="200" height="200" mask="url(#maskCafe)" fill-opacity="1" fill="#028090" />
    </svg>

    <!-- cook -->
    <svg id="cook" class="hobby-flex" viewbox="0 0 50 50" width="200" height="200">
        <defs>
            <mask id="maskCook" x="0" y="0" width="100" height="49">
                <rect x=".1" y=".1" width="400" height="400" fill="#fff" />
                <text x="77" text-anchor="middle" y="200" dy="0">C</text>
                <text x="93" text-anchor="middle" y="200" dy="0">O</text>
                <text x="109" text-anchor="middle" y="200" dy="0">O</text>
                <text x="125" text-anchor="middle" y="200" dy="0">K</text>
            </mask>
        </defs>
        <rect x="0.5" y="0.5" width="200" height="200" mask="url(#maskCook)" fill-opacity="1" fill="#028090" />
    </svg>

    <!-- workout -->
    <svg id="workout" viewbox="0 0 50 50" width="200" height="200">
        <defs>
            <mask id="maskWorkout" x="0" y="0" width="100" height="49">
                <rect x=".1" y=".1" width="200" height="200" fill-opacity="1" fill="#fff"/>
                <text x="60" text-anchor="middle" y="200" dy="0">W</text>
                <text x="75" text-anchor="middle" y="200" dy="0">O</text>
                <text x="90" text-anchor="middle" y="200" dy="0">R</text>
                <text x="105" text-anchor="middle" y="200" dy="0">K</text>
                <text x="120" text-anchor="middle" y="200" dy="0">O</text>
                <text x="135" text-anchor="middle" y="200" dy="0">U</text>
                <text x="150" text-anchor="middle" y="200" dy="0">T</text>
            </mask>
        </defs>
        <rect x="0.5" y="0.5" width="200" height="200" mask="url(#maskWorkout)" fill-opacity="1" fill="#028090" />
    </svg>

    <!-- videogames -->
    <svg id="videogames" class="hobby-flex" viewbox="0 0 50 50" width="200" height="200">
        <defs>
            <mask id="maskVideogames" x="0" y="0" width="100" height="49">
                <rect x=".1" y=".1" width="200" height="200" fill="#fff" />
                <text x="70" text-anchor="middle" y="200" dy="0">G</text>
                <text x="86" text-anchor="middle" y="200" dy="0">A</text>
                <text x="102" text-anchor="middle" y="200" dy="0">M</text>
                <text x="118" text-anchor="middle" y="200" dy="0">E</text>
                <text x="134" text-anchor="middle" y="200" dy="0">S</text>
            </mask>
        </defs>
        <rect x="0.5" y="0.5" width="200" height="200" mask="url(#maskVideogames)" fill-opacity="1" fill="#028090" />
    </svg>

    <!-- read -->
    <svg id="read" class="hobby-flex" viewbox="0 0 50 50" width="200" height="200">
        <defs>
            <mask id="maskRead" x="0" y="0" width="100" height="49">
                <rect x=".1" y=".1" width="200" height="200" fill="#fff" />
                <text x="77" text-anchor="middle" y="200" dy="0">R</text>
                <text x="93" text-anchor="middle" y="200" dy="0">E</text>
                <text x="109" text-anchor="middle" y="200" dy="0">A</text>
                <text x="125" text-anchor="middle" y="200" dy="0">D</text>
            </mask>
        </defs>
        <rect x="0.5" y="0.5" width="200" height="200" mask="url(#maskRead)" fill-opacity="1" fill="#028090" />
    </svg>
</div>